<p>Hola <%= @resource.name %>!</p>

<p>Solicitaste reestablecer tu contraseña. Puedes hacerlo al presionar el siguiente link:</p>

<p><%= link_to 'Reestablecer contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no solicitaste esto, por favor ignora este correo.</p>
<p>NOTA: Tu contraseña no va a cambiar mientras no visites el link y la cambies personalmente.</p>
